*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
    
}

header{

	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
    
}

 ul{ float: right ;
      list-style-type: none;
      margin-top: 25px;
  }
  ul li{    display:  inline-block;

 }

 ul li a{
 	text-decoration: none;color: #fff;padding: 5px 20px ;border: 1px solid transparent;
 	transition: 0.6s ease;
 }
 
 ul li a:hover{
 	background-color: #fff;
 	color: #000;
 }
 ul li.active a{
 	background-color: #fff;
 	color: #000;
 }
 
.name{
	position: absolute;
	top: 50%;
	left:50%;
        transform: translate(-50%,-50%);


}
 .name h1{
 	color: #fff;
 	font-size: 60px;
 }

 .button{
 	position: absolute;
	top: 60%;
	left:50%;
        transform: translate(-50%,-50%);
 }
.btn{ text-decoration: none;color: #fff;padding: 20px 20px ;border: 1px solid transparent;
 	transition: 0.6s ease;display: inline-block;
}
.btn:hover{
	background-color:#2196f3;text-decoration-color: blue;
	color:blue;
	 
	box-shadow: 0 0 10px #2196f3 , 0 0 40px #2196f3,0 0 80px #2196f3,0 0 120px #2196f3;
	 
}



 